interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-06-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: '{"TableName": "table000003"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      Prefer:
      - return-no-content
      x-ms-date:
      - Mon, 28 Sep 2020 19:33:54 GMT
      x-ms-version:
      - '2017-04-17'
    method: POST
    uri: https://clitest000002.table.core.windows.net/Tables
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clitestlmer3hh4zhdhgwnpe.table.core.windows.net/Tables('tablee6ltpnataaet2pc4rn2')
      location:
      - https://clitest000002.table.core.windows.net/Tables('table000003')
      preference-applied:
      - return-no-content
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 19:33:55 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/Tables('table000003')
  response:
    body:
      string: '{"TableName":"table000003"}'
    headers:
      content-type:
      - application/json;odata=nometadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "test", "value": "something", "binaryProperty": "AAECAwQF", "binaryProperty@odata.type":
      "Edm.Binary", "RowKey": "001", "PartitionKey": "001"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      Prefer:
      - return-no-content
      x-ms-date:
      - Mon, 28 Sep 2020 19:33:56 GMT
      x-ms-version:
      - '2017-04-17'
    method: POST
    uri: https://clitest000002.table.core.windows.net/table000003
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://clitestlmer3hh4zhdhgwnpe.table.core.windows.net/tablee6ltpnataaet2pc4rn2(PartitionKey='001',RowKey='001')
      etag:
      - W/"datetime'2020-09-28T19%3A33%3A56.3848738Z'"
      location:
      - https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
      preference-applied:
      - return-no-content
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 19:33:56 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003/@Element","odata.etag":"W/\"datetime''2020-09-28T19%3A33%3A56.3848738Z''\"","PartitionKey":"001","RowKey":"001","Timestamp":"2020-09-28T19:33:56.3848738Z","name":"test","value":"something","binaryProperty@odata.type":"Edm.Binary","binaryProperty":"AAECAwQF"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-09-28T19%3A33%3A56.3848738Z'"
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 19:33:57 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')?%24select=name
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003/@Element&$select=name","odata.etag":"W/\"datetime''2020-09-28T19%3A33%3A56.3848738Z''\"","name":"test"}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      etag:
      - W/"datetime'2020-09-28T19%3A33%3A56.3848738Z'"
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "test", "value": "newval", "RowKey": "001", "PartitionKey": "001"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - 3.0;NetFx
      If-Match:
      - '*'
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 19:33:57 GMT
      x-ms-version:
      - '2017-04-17'
    method: MERGE
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: ''
    headers:
      etag:
      - W/"datetime'2020-09-28T19%3A33%3A57.2812859Z'"
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '{"cat": "hat", "RowKey": "001", "PartitionKey": "001"}'
    headers:
      Content-Type:
      - application/json
      DataServiceVersion:
      - 3.0;NetFx
      If-Match:
      - '*'
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 19:33:57 GMT
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: ''
    headers:
      etag:
      - W/"datetime'2020-09-28T19%3A33%3A57.9279069Z'"
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 19:33:58 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003(PartitionKey='001',RowKey='001')
  response:
    body:
      string: '{"odata.error":{"code":"ResourceNotFound","message":{"lang":"en-US","value":"The
        specified resource does not exist.\nRequestId:38ba266c-3002-006e-06ce-954d21000000\nTime:2020-09-28T19:33:58.8757265Z"}}}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2017-04-17'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 19:34:00 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003()?%24top=1
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003","value":[{"odata.etag":"W/\"datetime''2020-09-28T19%3A33%3A59.2662862Z''\"","PartitionKey":"001","RowKey":"001","Timestamp":"2020-09-28T19:33:59.2662862Z","name":"test","value":"something","binaryProperty@odata.type":"Edm.Binary","binaryProperty":"AAECAwQF"}]}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-continuation-nextpartitionkey:
      - 1!4!MDAy
      x-ms-continuation-nextrowkey:
      - 1!4!MDAy
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 19:34:00 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003()?NextPartitionKey=1%214%21MDAy&NextRowKey=1%214%21MDAy
  response:
    body:
      string: '{"odata.metadata":"https://clitest000002.table.core.windows.net/$metadata#table000003","value":[{"odata.etag":"W/\"datetime''2020-09-28T19%3A33%3A59.6848655Z''\"","PartitionKey":"002","RowKey":"002","Timestamp":"2020-09-28T19:33:59.6848655Z","name":"test2","value":"something2"}]}'
    headers:
      content-type:
      - application/json;odata=minimalmetadata;streaming=true;charset=utf-8
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 19:34:00 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002.table.core.windows.net/table000003?comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers
        />"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>a</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 19:34:01 GMT
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.table.core.windows.net/table000003?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>a</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00Z</Start></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 19:34:01 GMT
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.table.core.windows.net/table000003?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>test1</Id><AccessPolicy><Permission>a</Permission></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test2</Id><AccessPolicy><Start>2016-01-01T00:00:00Z</Start></AccessPolicy></SignedIdentifier><SignedIdentifier><Id>test3</Id><AccessPolicy><Expiry>2018-01-01T00:00Z</Expiry></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 19:34:02 GMT
      x-ms-version:
      - '2017-04-17'
    method: PUT
    uri: https://clitest000002.table.core.windows.net/table000003?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2017-04-17'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      DataServiceVersion:
      - 3.0;NetFx
      MaxDataServiceVersion:
      - '3.0'
      x-ms-date:
      - Mon, 28 Sep 2020 19:34:06 GMT
      x-ms-version:
      - '2017-04-17'
    method: GET
    uri: https://clitest000002-secondary.table.core.windows.net/?restype=service&comp=stats
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>unavailable</Status><LastSyncTime></LastSyncTime></GeoReplication></StorageServiceStats>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2017-04-17'
    status:
      code: 200
      message: OK
version: 1
