interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-06-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Sep 2020 19:27:50 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D863E496B8A58C"'
      last-modified:
      - Mon, 28 Sep 2020 19:27:50 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-blob-content-length:
      - '16384'
      x-ms-blob-type:
      - PageBlob
      x-ms-date:
      - Mon, 28 Sep 2020 19:27:50 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/src
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D863E496E3607C"'
      last-modified:
      - Mon, 28 Sep 2020 19:27:50 GMT
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Sep 2020 19:27:51 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/cont000004/src?comp=snapshot
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D863E496E3607C"'
      last-modified:
      - Mon, 28 Sep 2020 19:27:50 GMT
      x-ms-request-server-encrypted:
      - 'false'
      x-ms-snapshot:
      - '2020-09-28T19:27:51.1194448Z'
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      x-ms-copy-source:
      - https://clitestj77idqvnni26jurvt.blob.core.windows.net/contbyer7t4i5mjjgpona2kj/src?se=2020-09-29T19%3A27%3A52Z&sp=r&spr=https&sv=2018-11-09&sr=b&sig=9bNWX3D7rcOHtFDHI8MrI%2BzZYj92gD1uoiFu7DvRgLc%3D&snapshot=2020-09-28T19:27:51.1194448Z
      x-ms-date:
      - Mon, 28 Sep 2020 19:27:52 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000003.blob.core.windows.net/cont000005/backup?comp=incrementalcopy
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8D863E49809B7FD"'
      last-modified:
      - Mon, 28 Sep 2020 19:27:52 GMT
      x-ms-copy-id:
      - 5f72efd0-0c8e-4f75-9ca4-918490e9c3a7
      x-ms-copy-status:
      - pending
      x-ms-version:
      - '2018-11-09'
    status:
      code: 202
      message: Accepted
version: 1
