interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-06-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Sep 2020 19:33:18 GMT
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Sep 2020 19:33:19 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body:
      string: ''
    headers:
      x-ms-approximate-messages-count:
      - '0'
      x-ms-meta-a:
      - b
      x-ms-meta-c:
      - d
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Sep 2020 19:33:20 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/?comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults
        ServiceEndpoint=\"https://clitest000002.queue.core.windows.net/\"><Queues><Queue><Name>queue000003</Name></Queue></Queues><NextMarker
        /></EnumerationResults>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Sep 2020 19:33:20 GMT
      x-ms-meta-e:
      - f
      x-ms-meta-g:
      - h
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Sep 2020 19:33:21 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=acl
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><SignedIdentifiers
        />"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <SignedIdentifiers><SignedIdentifier><Id>policy000004</Id><AccessPolicy><Start>2016-01-01T00:00Z</Start><Expiry>2016-05-01T00:00Z</Expiry><Permission>raup</Permission></AccessPolicy></SignedIdentifier></SignedIdentifiers>'
    headers:
      x-ms-date:
      - Mon, 28 Sep 2020 19:33:21 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=acl
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>test message</MessageText></QueueMessage>'
    headers:
      x-ms-date:
      - Mon, 28 Sep 2020 19:33:24 GMT
      x-ms-version:
      - '2018-03-28'
    method: POST
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>0c56eead-9f52-4769-a8df-dedd5b10fa79</MessageId><InsertionTime>Mon,
        28 Sep 2020 19:33:24 GMT</InsertionTime><ExpirationTime>Mon, 05 Oct 2020 19:33:24
        GMT</ExpirationTime><PopReceipt>AgAAAAMAAAAAAAAAmw01O86V1gE=</PopReceipt><TimeNextVisible>Mon,
        28 Sep 2020 19:33:24 GMT</TimeNextVisible></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Sep 2020 19:33:24 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages?peekonly=true
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>0c56eead-9f52-4769-a8df-dedd5b10fa79</MessageId><InsertionTime>Mon,
        28 Sep 2020 19:33:24 GMT</InsertionTime><ExpirationTime>Mon, 05 Oct 2020 19:33:24
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>test message</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '<?xml version=''1.0'' encoding=''utf-8''?>

      <QueueMessage><MessageText>new message!</MessageText></QueueMessage>'
    headers:
      x-ms-date:
      - Mon, 28 Sep 2020 19:33:25 GMT
      x-ms-version:
      - '2018-03-28'
    method: PUT
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages/0c56eead-9f52-4769-a8df-dedd5b10fa79?popreceipt=AgAAAAMAAAAAAAAAHYR1Tc6V1gE%3D&visibilitytimeout=1
  response:
    body:
      string: ''
    headers:
      x-ms-popreceipt:
      - AwAAAAMAAAAAAAAAexBiPM6V1gEBAAAA
      x-ms-time-next-visible:
      - Mon, 28 Sep 2020 19:33:26 GMT
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Sep 2020 19:33:28 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages?peekonly=true&numofmessages=32
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><QueueMessagesList><QueueMessage><MessageId>0c56eead-9f52-4769-a8df-dedd5b10fa79</MessageId><InsertionTime>Mon,
        28 Sep 2020 19:33:24 GMT</InsertionTime><ExpirationTime>Mon, 05 Oct 2020 19:33:24
        GMT</ExpirationTime><DequeueCount>1</DequeueCount><MessageText>new message!</MessageText></QueueMessage><QueueMessage><MessageId>61d87fbb-15c1-4d2d-93d2-bb906d68ae4a</MessageId><InsertionTime>Mon,
        28 Sep 2020 19:33:27 GMT</InsertionTime><ExpirationTime>Mon, 05 Oct 2020 19:33:27
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>second message</MessageText></QueueMessage><QueueMessage><MessageId>90844e77-1cb5-420c-b66d-7452b7856f1a</MessageId><InsertionTime>Mon,
        28 Sep 2020 19:33:28 GMT</InsertionTime><ExpirationTime>Mon, 05 Oct 2020 19:33:28
        GMT</ExpirationTime><DequeueCount>0</DequeueCount><MessageText>third message</MessageText></QueueMessage></QueueMessagesList>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Sep 2020 19:33:29 GMT
      x-ms-version:
      - '2018-03-28'
    method: DELETE
    uri: https://clitest000002.queue.core.windows.net/queue000003/messages/0c56eead-9f52-4769-a8df-dedd5b10fa79?popreceipt=AgAAAAMAAAAAAAAAfH%2FJT86V1gE%3D
  response:
    body:
      string: ''
    headers:
      x-ms-version:
      - '2018-03-28'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Sep 2020 19:33:30 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://clitest000002.queue.core.windows.net/queue000003?comp=metadata
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><Error><Code>QueueNotFound</Code><Message>The
        specified queue does not exist.\nRequestId:a87bead6-3003-0039-7fce-954f4f000000\nTime:2020-09-28T19:33:30.7249216Z</Message></Error>"
    headers:
      content-type:
      - application/xml
      x-ms-error-code:
      - QueueNotFound
      x-ms-version:
      - '2018-03-28'
    status:
      code: 404
      message: The specified queue does not exist.
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 28 Sep 2020 19:33:31 GMT
      x-ms-version:
      - '2018-03-28'
    method: GET
    uri: https://clitest000002-secondary.queue.core.windows.net/?restype=service&comp=stats
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><StorageServiceStats><GeoReplication><Status>unavailable</Status><LastSyncTime></LastSyncTime></GeoReplication></StorageServiceStats>"
    headers:
      content-type:
      - application/xml
      x-ms-version:
      - '2018-03-28'
    status:
      code: 200
      message: OK
version: 1
